
.containerFluid {
  background: linear-gradient(
    rgb(230, 6, 238),
    rgb(255, 187, 0),
    rgb(88, 255, 130)
    0.6
  );
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}



.card {
  padding: 15px;
  margin: 10px;
  width: 250px;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  text-align: center;
}

.infoCrad {
  font-size: small;
  font-weight: 800;
  font-variant: small-caps;
  color: crimson;
}

.card:hover {
  transform: scale(1.05);
}

.cardBody {
  padding: 20px;
}

.cardTitle {
  font-size: 1rem;
  margin-bottom: 6px;
}

.cardText {
  margin-bottom: 5px;
  justify-content: center;
}

.date {
  color: #3b3939;
  font-size: small;
  font-style: italic;
  font-weight: 600;
}

.cardFooter {
  padding: 10px;
  display: flex;
  justify-content: center;
}

.btn {
  padding: 8px 16px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s;
}

.btnOutlineSuccess {
  background-color: #28a745;
  color: #fff;
  border: 1px solid #28a745;
}

.btnOutlineSuccess:hover {
  background-color: #218838;
}
